* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    background: rgb(190, 224, 138);
}

h1, h2 {
    text-align: center;
}

.button { 
    position: fixed;
    padding: 2px 6px;
    left: 1470px;
    top: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 4px;
    left: 1290px;
    background: rgb(248, 244, 244);
    width: 180px;
    height: 180px;
  }

  .dropdown-content a {
    text-align: center;
    padding: 12px 16px;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  a:hover {
    color: black;
  }

  ul {
    list-style: none;
  }
 

div {
   width: 380px;
   height: 140px;
   padding: 10px 10px 10px    
}

.block {
    position: relative;
    margin-top: 20px;
    margin-left: 60px;
    background: yellow;     
}

.block1 {
    position: absolute;
    left: 800px;
    top: 140px;
    background: rgb(191, 238, 119);
}

.block2 {
    position: absolute;
    left: 350px;
    top: 330px;
    background: rgb(173, 115, 227);
}

.block3 {
    position: absolute;
    left: 1000px;
    top: 470px;
    background: rgb(243, 156, 156);
}

